/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #007bff;
}

::selection {
    color: #fff;
    background: #007bff;
}

/* Center and style the introduction text */
.intro_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.intro_box h1 {
    font-size: 30px;
    color: white;
    margin-bottom: 250px;
    margin-top: 100px;
}
.intro_box p {
    font-size: 18px;
    color: rgb(244, 238, 238);
    margin-top: 10px;
    margin-bottom: 10px;
}/* Responsive styles for start button */
.start_btn button {
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}